 @charset 'utf-8';
            
*{
    margin: 0;
    padding: 0;
    border:0;
}

#geral{
    background-color: cornflowerblue; 
    width: 100%; 
    height: 100%; 
    position: absolute;
}
#cabecalho{
    background-image: url(../img/img1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
}
#cabecalho div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
#logo{
    background-image: url(../img/img2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    margin-top: 2.5%;
}
#logo2{
    display: flex;
}
#menu{
    background-color: #ef6452;
    width: 100%;
    height: 25%;
    border-radius: 20vh 0 0 20vh;
    box-shadow: 5px 5px 15px #000;
    display: flex;
    align-items: center;
}
#menu ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 4vh;
    color: white;
    text-shadow: 3px 3px 5px #000;
    list-style: none;
}
#principal{
    background-color: white;
    width: 100%;
    height: 60%;
    display: flex;
}
#principal div{
    width: 25%;
    height: 100%;
}
#esquerdo{
    background-color: #ef6452;
    border-radius: 0 90% 0 0;
    box-shadow: 2px 0px 5px #000;
    margin-right: 1%;
    display: flex;
    align-items: center;
}

#formulario{
    width: 80%;
    margin: 15% 0 0 1%;
    font-family: sans-serif;
    color: white;
    font-size: 2.8vh;
    font-weight: bold;
    text-shadow: 1px 1px 3px #000;
    
}

#formulario legend{
    text-align: center;
    font-size: 3.7vh;
}

#formulario p{
    padding: 3%;
}

#formulario input{
    width: 50%;
    border-radius: 20vh;
    font-size: 3vh;
}

#msg{
    width: 80%;
    height: 10vh;
    border-radius: 3vh;
}

.bot{
    width: 40%;
    font-family: sans-serif;
    color: #ef6452;
    font-size: 3.5vh;
    font-weight: bold;
    border-radius: 20vh;
}

#centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1{
    font-family: sans-serif;
    font-size: 4.5vh;
    color: #ef6452;
    text-shadow: 1px 1px 5px #000;
    margin-top: 3%;
}

#centro p{
    font-family: sans-serif;
    font-size: 2.3vh;
    color: #ef6452;
    margin: 0 1% 0 1%;
    text-align: justify;
    text-indent: 2%;
}

#direito{
    background-image: url(../img/img3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#direito p{
    background-color: white;
    font-family: sans-serif;
    font-size: 2.5vh;
    font-weight: bold;
    font-style: italic;
    color: #ef6452;
    margin-bottom: 10%;

}

#principal main{
    background-color: #fff;
    width: 50%;
    height: 100%;
}

#rodape{
    background: linear-gradient(to right, #eb664a 65%, #fff 95%);
    width: 100%;
    height: 10%;
    position: relative;
}
