@charset 'utf-8';

*{
    text-align: center;
    font-family: sans-serif;
    border: none;
}

#titulos{
    text-shadow: 2px 3px 10px #000;
}

#botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#botoes button{
    background-color: chocolate;
    padding: 15px;
    margin-top: 7px;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px #000;
}