 @charset 'utf-8';
            
*{
    margin: 0;
    padding: 0;
    border:0;
}

#geral{
    background-color: cornflowerblue; 
    width: 100%; 
    height: 100%; 
    position: absolute;
}
#topo{
    background-color: darkorange;
    width: 100%;
    height: 25%;
    box-shadow: 1px 1px 20px #000;
    position: relative;
}
#principal{
    background-color: antiquewhite;
    width: 100%;
    height: 65%;
    display: flex;
}
#menu_esquerdo, #artigo{
    background-color: darkcyan;
    width: 25%;
    height: 100%;
}
#conteudo{
    background-color: darkseagreen;
    width: 50%;
    height: 100%;
}
#rodape{
    background-color: darkorange;
    width: 100%;
    height: 10%;
}
