@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

#abrir{
    position: relative;
    z-index: 2;
}

#modal_pai{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0);
    top: 0;
    z-index: 1;
    transition: 1s;
}
#fechar{
    float: right;
    margin: 20px;
}

#modal{
    width: 55%;
    height: 55%;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: -500px;
    box-shadow: 2px 2px 20px #000;
    transition: 0.5s;
    text-align: center;
    padding-bottom: 20px;
    
}

#modal form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80%;
    
}









