@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: brown;
}

section, div{
    width: 100%;
    text-align: center;
}

section{
    margin-top: 40px;
    font-size: 1.5em;
}

div{
    margin-top: 15px;
}

div button{
    width: 250px;
    height: 50px;
    margin-top: 5px;
    font-size: 1.1em;
    text-align: left;
    text-indent: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000;
    background-color: #807a7a;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

div button:hover{
    color: #000;
    background-color: #fff;
}