@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
}

#corpo{
    background-color: chartreuse;
    width: 100%;
    height: 300%;
    position: absolute;
}

#p1{
    background-color: cadetblue;
    width: 100%;
    height: 34%;
}

#cabecalho{
    background-color: rgb(168, 208, 140);
    width: 100%;
    height: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#menu{
    background-color: rgb(68, 114, 196);
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
}

#menu ul{
    width: 80%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-weight: bold;
    font-family: Arial;
    color: rgb(168, 208, 140);
    font-size: 2.5vh;
}

#conteudop1{
    background-color: rgb(0, 176, 80);
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#conteudop1 div{
    background-color: rgb(68, 114, 196);
    width: 70%;
    height: 40%;
}

#conteudop1 section{
    background-color: rgb(68, 114, 196);
    width: 50%;
    height: 20%;
}

#p2{
    background-color: #2e75b5;
    width: 100%;
    height: 34%;
}

#p2 section{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

#p2 main{
    width: 100%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#p2 section div{
    background-color: #e1c000;
    width: 30%;
    height: 70%;
}

#p2 main div{
    background-color: #e1c000;
    width: 25%;
    height: 30%;
}

#p3{
    background-color: #3a3838;
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p3 aside{
    width: 50%;
    height: 85%;
    display: flex;    
    justify-content: center;
    align-items: center;
}

#p3 aside div{
    background-color: whitesmoke;
    width: 85%;
    height: 100%;
}

#p3 main{
    width: 50%;
    height: 85%;
    display: flex;   
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

#p3 main div{
    background-color: whitesmoke;
    width: 85%;
    height: 23%;
}