@charset 'utf-8';

*{
    padding: 0;
    margin: 0;
}

form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    margin: auto;
    
}